terraform {
  required_providers {
    libvirt = {
      source  = "dmacvicar/libvirt"
      version = "0.8.3"
    }
  }
}

provider "libvirt" {
  uri = "qemu:///system"
}

resource "libvirt_pool" "{{ vm_prefix }}" {
  name = "{{ vm_prefix }}"
  type = "dir"
  target {
    path = "{{ vm_pool_dir }}"
  }
}

resource "libvirt_network" "{{ vm_prefix }}_network" {
  name      = "{{ vm_prefix }}_network"
  autostart = true
  mode      = "nat"
  addresses = ["{{ vm_network_subnet }}"]
  bridge    = "{{ vm_network_bridge }}"
  dhcp {
    enabled = true
  }
}
