resource "libvirt_cloudinit_disk" "{{ vm_prefix }}_vm0_cloudinit" {
  name = "{{ vm_prefix }}_vm0_cloudinit.iso"
  pool = libvirt_pool.{{ vm_prefix }}.name

  user_data = <<-EOS
    #cloud-config
    fqdn: {{ vm_prefix }}-vm0
    ssh_pwauth: true
    disable_root: true

    users:
      - name: {{ vm_user }}
        sudo: ['ALL=(ALL) NOPASSWD:ALL']
        shell: /bin/bash
        groups: wheel

    chpasswd:
      list: |
        {{ vm_user }}:{{ vm_password }}
      expire: false

    packages:
      - kexec-tools
{% if vm_kdump_enabled | bool %}
      - kdump-utils
{% endif %}
{% if vm_install_debuginfo | bool %}
      - dnf-plugins-core
{% endif %}

    runcmd:
{% if vm_kdump_enabled | bool %}
      - ['grubby', '--update-kernel=ALL', '--args=crashkernel={{ vm_crashkernel }}']
      - ['systemctl', 'enable', 'kdump']
{% endif %}
{% if vm_install_debuginfo | bool %}
      - ['dnf', 'debuginfo-install', '-y', 'kernel-core']
{% endif %}
      - ['touch', '/var/lib/cloud/instance/boot-finished-phase1']
{% if vm_kdump_enabled | bool %}
      - ['reboot']
{% endif %}
  EOS

  network_config = <<-EOS
    version: 2
    ethernets:
      nic-0:
        match:
          macaddress: "{{ vm_mac }}"
        dhcp4: true
  EOS
}

resource "libvirt_volume" "{{ vm_prefix }}_vm0_os_image" {
  name   = "{{ vm_prefix }}_vm0_os_image.qcow2"
  pool   = libvirt_pool.{{ vm_prefix }}.name
  source = "{{ vm_os_image }}"
  format = "qcow2"
}

resource "libvirt_volume" "{{ vm_prefix }}_vm0" {
  name           = "{{ vm_prefix }}_vm0.qcow2"
  pool           = libvirt_pool.{{ vm_prefix }}.name
  base_volume_id = libvirt_volume.{{ vm_prefix }}_vm0_os_image.id
  format         = "qcow2"
  size           = {{ vm_disk_size }} * 1024 * 1024 * 1024
}

resource "libvirt_domain" "{{ vm_prefix }}_vm0" {
  name      = "{{ vm_prefix }}_vm0"
  vcpu      = {{ vm_vcpu }}
  memory    = {{ vm_memory }} * 1024
  autostart = true

  cpu {
    mode = "host-passthrough"
  }

  network_interface {
    network_id     = libvirt_network.{{ vm_prefix }}_network.id
    mac            = "{{ vm_mac }}"
    wait_for_lease = true
  }

  disk {
    volume_id = libvirt_volume.{{ vm_prefix }}_vm0.id
    scsi      = "true"
  }

  cloudinit = libvirt_cloudinit_disk.{{ vm_prefix }}_vm0_cloudinit.id

  console {
    type        = "pty"
    target_type = "serial"
    target_port = "0"
  }

  graphics {
    type        = "vnc"
    listen_type = "address"
    autoport    = "true"
  }
}
