#cloud-config
fqdn: ${hostname}
ssh_pwauth: true
disable_root: true

users:
  - name: ${vm_user}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
    # cloud-init locks the password by default; unlock it so the console and
    # sshpass login in the create playbook both work. `chpasswd.list` would
    # also set this, but it is deprecated as of cloud-init 22.2.
    lock_passwd: false
    plain_text_passwd: ${vm_password}

packages:
  - kexec-tools
%{~ if vm_kdump_enabled }
  - kdump-utils
%{~ endif }
%{~ if vm_install_debuginfo }
  - dnf-plugins-core
%{~ endif }

runcmd:
%{~ if vm_kdump_enabled }
  - ['grubby', '--update-kernel=ALL', '--args=crashkernel=${vm_crashkernel}']
  - ['systemctl', 'enable', 'kdump']
%{~ endif }
%{~ if vm_install_debuginfo }
  - ['dnf', 'debuginfo-install', '-y', 'kernel-core']
%{~ endif }
  # Marker the create playbook waits on: everything above has run, and the
  # reboot below (if any) is imminent.
  - ['touch', '/var/lib/cloud/instance/boot-finished-phase1']
%{~ if vm_kdump_enabled }
  # Reboot to activate the crashkernel reservation grubby just added.
  - ['reboot']
%{~ endif }
